{
    "env": {
        "node": true
    },
    "strict": [2, "global"],
    "ecmaFeatures": {
    	"arrowFunctions": 2,
    	"blockBindings": 2
    },
    "rules": {
    	"no-var": 2,
    	"semi": 2,
    	"arrow-body-style": 2,
    	"no-shadow": [1, { "allow": ["err", "res"]}]
    },
    "extends": "hapi"
}